[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "extern/google-cloud-cpp"]
	path = extern/google-cloud-cpp
	url = https://github.com/googleapis/google-cloud-cpp.git
[submodule "extern/trompeloeil"]
	path = extern/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "extern/FakeIt"]
	path = extern/FakeIt
	url = https://github.com/eranpeer/FakeIt.git
